body{
	margin: 0px;

}
*{
	box-sizing: border-box;
}
.main{
	margin-bottom: 15px;
}

header{
	position: relative;
	background-image: url(https://blackrockdigital.github.io/startbootstrap-clean-blog/img/home-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	width: 100%;
	background-color: rgba(122,133,0,0.2);
	background-blend-mode: overlay;
	background-position: center;


}
header h1{
	margin-top: 122px;
	color: black;
	/*font-style: italic;*/
	font-size: 75px;
	padding-left: 540px;
	margin-bottom: 0px;
	font-family: 'Faster One', cursive;
}

ul {
	list-style-type: none;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-left: 950px;
}
li{
	display: inline-block;
	color: white;
	font-size: 32px;
	padding-left: 20px;
}
li:hover{
	color: black;
	/*font-size: 35px;*/
	font-style: bold;
}
p{
	text-align: center;
	font-style: bold;

}
.c1 h1{
	color: black;
	text-align: left;
	font-family: 'Open Sans'; 
}
.c1 {
	margin-right: 450px;
	margin-left: 450px;
	/*background-color: #cccccc21;*/
}
.c1:hover{
	background-color: #cccccc14;
}
.c1 p{
	margin-top: 0px;
	font-family: 'IBM Plex Mono';
}
a{
	text-decoration: none;
}
.pl{
	text-align: left;
	font-size: 20px;
}
hr{
	color: grey;
	width: 45%;
	text-align: center;
	height: 2px;
}
button{
	height: 45px;
	background-color: #4F91E2;
	width: 150px;
	margin-left: 1100px;
	margin-bottom: 15px;
}
button a{
	color: white;
	/*text-align: left;*/
	font-size: 19px;
	font-family: bold;
	margin-left: -10px;
}
.hr1{
	width: 80%;
	text-align: center;
	color: black;
}
